# can be generated with next auth
AUTH_SECRET=""

# the url of the postgres database
DATABASE_URL=""

# development, test, production
NODE_ENV=""

# internal domain and cert file for ldaps
INTERNAL_DOMAIN=""
LDAPS_CERT_FILE=""

